.profileCheck {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image_check {
    margin-right: 20px;
  }
  .profile-info {
    margin-top: 20px;
  }
  
  .profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .profile-data h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-data p {
    font-size: 14px;
    margin-bottom: 5px;
  }