.diary-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-wrapper {
  flex: 0 0 auto;
}
.content-wrapper {
  flex: 1 1 auto;
  display: flex;
  
  justify-content: center;
  align-items: center;
}

.calendar-wrapper {
  flex: 0 0 auto;
  max-width: 70%;
  overflow: auto;
  
  justify-content: center;
  align-items: center;
}

.weight-paper-wrapper {
  flex: 0 0 auto;
  width: 30%;
  
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 20px; /* Adjust the margin as needed */
}